<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web: UI Component Background</title>
    <link href="@images/favicon.ico" rel="shortcut icon">
    <link href="@styles/base/base.scss" rel="stylesheet">
</head>
<body>
    <main class="container">
        <section class="row">
            <article class="col-12">
                <div class="p-3 vh-100">
                    <h1>UI Component Background</h1>
                </div>
            </article>
        </section>
    </main>
</body>
</html>